<nav>

        <ul>
            <img src=./assets/arc.png width='40px'>
            <li id="Brand"><a href='./'>quarry</a></li>
            <li><a href='./documentation.html'>documentation</a></li>
            <li><a href='http://github.com/quarryarc'>code</a></li>
            <li><a href='./stones'>stones</a></li>
            <li><a href='./masons'>masons</a></li>
            <li><a href='http://arclanguage.org/forum'>forum</a></li>
            <li><a href='./jobs'>jobs</a></li>
            <img id="keystone" src=./assets/keystone-black.svg>

        </ul>
</nav>