---
---
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{site.github.url}}/assets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
</head>
<body>
    <div id="container">
    {% include /nav.html %}
    {{content}}
        <footer>
            <i class="fa fa-2x fa-github-square"></i>
            <i class="fa fa-2x fa-facebook-square"></i>
            <i class="fa fa-2x fa-twitter-square"></i> © 2016 Hugues de Payns
        </footer>

    </div>

</body>
</html>